
<div *ngIf="isCharged && !isVerified">
  <div *ngFor="let question of questions;index as i">
      <form >
          <label>{{question._statement}}</label>
          <div *ngFor="let option of question._options;index as j"> 
              <input type="radio" name="option" value="{{option}}" [(ngModel)]="model[i]"  required /> {{option}}
          </div>   
      </form>
    </div>
    
    <button (click)="validateUser()">Resultado</button>
</div>

<div *ngIf="!isCharged">
  <p>Cargando ...</p>
</div>

<div *ngIf="isVerified">
  <p>Usuario verificado, puede continuar</p>
</div>
